<tr>                  
    <td>
        <%= obj["Company Name"] || obj["company_name"] || "N/A" %>
    </td>                  
    <td>
        <%= obj["Ticker"] || obj["ticker"] || "N/A" %>
    </td> 
    <td>
        <%= obj["Sector"] || obj["sector"] || "N/A" %>
    </td> 
    <td>
        <%= obj["Industry-Group"] || obj["industry_group"] || obj["industrygroup"] || "N/A" %>
    </td>                
    <td>
        <%= obj["Industry"] || obj["industry"] || "N/A" %>
    </td>
    <td>
        <%= obj["Address"] || obj["address"] || "N/A" %>
    </td>
    <td>
        <% if (obj["URL"] || obj["url"]) { %>
            <a href='<%= obj["URL"] || obj["url"] %>' target='_blank'><%= obj["URL"] || obj["url"] %></a>
        <% } else { %>
            N/A 
        <% } %>
    </td>
</tr>